.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.inner {
  font-size: 24px;
  display: block;
  text-align: center;
}
